body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0E0CE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.custom-container {
    text-align: center;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #AD343E;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.back-arrow img {
    width: 24px;
    height: 24px;
}

.back-arrow:hover {
    color: #F2AF29;
    transform: scale(1.2);
}

.back-arrow:active {
    transform: scale(0.9);
}

.custom-login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.custom-login-container h2 {
    color: #AD343E;
    margin-bottom: 20px;
}

.custom-login-container form {
    display: flex;
    flex-direction: column;
}

.custom-login-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #474747;
}

.custom-login-container input[type="text"],
.custom-login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 20px; /* Aumentado o espaçamento entre os campos */
    border: 1px solid #474747;
    border-radius: 4px;
    font-size: 14px;
}

.custom-login-container button[type="submit"] {
    background-color: #F2AF29;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    max-width: 150px;
    align-self: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.custom-login-container button[type="submit"]:hover {
    background-color: #AD343E;
    color: #fff;
    transform: scale(1.05); /* Efeito de ampliação suave */
}

.custom-form-errors {
    margin-top: 20px;
    padding: 10px;
    background-color: #F8D7DA;
    color: #721C24;
    border: 1px solid #F5C6CB;
    border-radius: 4px;
    font-weight: bold;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionando uma leve sombra */
}

.custom-form-errors ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-form-errors li {
    margin-bottom: 5px;
}

.custom-messages {
    margin-top: 20px;
    padding: 10px;
    background-color: #F8D7DA;
    color: #721C24;
    border: 1px solid #F5C6CB;
    border-radius: 4px;
    font-weight: bold;
    text-align: left;
    position: relative;
}

.custom-messages .message {
    margin-bottom: 5px;
}

.custom-messages .closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #721C24;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.custom-register-link {
    margin-top: 20px;
    color: #474747;
}

.custom-register-link a {
    color: #AD343E;
    text-decoration: none;
    font-weight: bold;
}

.custom-register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .custom-login-container {
        width: 80%;
        margin: 20px auto;
    }

    .custom-container {
        padding: 10px;
    }
}
